h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000
}

.mybody {
	text-align: left;
	height: 169px;
	width: auto;
	border: thin groove #333333;
	border-width:1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
body {
	background-image: url(images/bg_tile.gif);
}

.mynput {
	background-color: #FFFFFF
	border: thin solid #000000;
	background-color: #FFFFFF;
	border: solid 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.myfont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.test {
	border: thin groove #0033FF;
}

